*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--step-5);
    font-weight: 900;
    letter-spacing: normal;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: normal;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
}

img,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}

video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

select {
    min-width: auto;
    width: auto;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}