.d-block {
    display: block !important;
}

.flex {
    display: flex;
}

.flex-flow {
    display: flex;
    flex-flow: row wrap;
}

.flex-shrink {
    flex-shrink: 1;
}

.text-uppercase {
    text-transform: uppercase;
}

.spacer>*+* {
    padding-bottom: 1rem;
}

.select {
    background-color: black;
    color: white;
    padding: .8rem;
    border: 2px solid rgba(128, 128, 128, 0.675);
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
}

.english {
    border: none;
}

.globe {
    width: 1.3rem;
    filter: invert(1);
    margin-right: .8rem;
}

.accordian-bg {
    background-color: rgba(45, 45, 45, 1)
}

.container {
    @include container(100%, 1200px, hidden, auto, 2rem);
}

.hidden {
    display: none;
    overflow: hidden;
}

.active {
    display: block;
}

.underline {
    text-decoration: underline;
}

.bg-gradient {
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
}

.plus-rotate {
    transform: rotate(-45deg);
}

form {
    display: flex;
    flex: 1 1 auto;
    width: 378.438px;
}

.form-container {
    margin: 1rem auto 0;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
}

.cta-input {
    width: 100%;
    padding-block: 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
}

.next-arr {
    width: 1.8rem;
    margin-left: .3rem;
    filter: invert(1);
}

.header-text-1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.header-text-2 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.popcorn-p-1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

.popcorn-p-2 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.popcorn-a {
    cursor: pointer;
    color: #448ef4;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-weight: 500;
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0;
}