.modal {
    padding: 1rem;
    max-width: 50ch;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    // border: 0;
    // box-shadow: 0 0 1em rgb(0 0 0 / .3);

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}