.article-data-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .25rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    transition: background-color .5s;
}


.article:hover .article-data-spacer {
    background-color: var(--hover-light-color);
}

.article:hover .article-title {
    color: var(--hover-light-color);
}


.article-data {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: .3rem;
    height: .3rem;
    background-color: white;
    transform: rotate(45deg);
}

.title {
    color: white;
}

.article-title {
    font-size: 1rem;
}

/* Quick read - Swiper */
.swiper-wrapper {
    height: auto;
}

.swiper-controls {
    width: 3.5rem;
    height: 3.5rem;
    color: white;
}

.swiper-button-prev {
    color: white;
}

.swiper-controls::after {
    font-size: 1.6rem;
    color: white;
}

.swiper-pagination {
    position: static !important;
    margin: 2rem;
}

.swiper-pagination-bullet {
    background-color: black !important;
}