main {
    .enjoy .container .grid-2 .row-1 p {
        max-width: 35ch;
    }

    .enjoy .container .grid-2 .row-2 picture {
        position: relative;
        z-index: 10;

        video {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            max-width: 73%;
            max-height: 54%;
            top: 80px;
            right: 75px;
            z-index: -1;
        }
    }

    .everywhere .container .row-1 {
        picture {
            position: relative;
            z-index: 10;

            video {
                position: absolute;
                z-index: -1;
                overflow: hidden;
                width: 100%;
                height: 100%;
                max-width: 63%;
                max-height: 47%;
                top: 50px;
                left: 100px;
            }
        }
    }

    .everywhere .container .row-2 {
        p {
            max-width: 40ch;
        }
    }

    .kids .container .row-1 {
        p {
            max-width: 40ch;
        }
    }
}